<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f595672-7af4-4b19-8b1f-4aa8b9dcbef6" Alias="Recipe Utensils Picker" Level="1">
  <Info>
    <Name>Recipe Utensils Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "cf520e1f-02f1-48c8-ac9e-caf604433d3e",
  "maxNumber": 0,
  "minNumber": 0,
  "startNode": {
    "type": "content",
    "dynamicRoot": {
      "originKey": "aa7116ae-2ce9-44c9-bf3a-d31b4ace4402",
      "originAlias": "ByKey",
      "querySteps": [
        {
          "unique": "e6632690-598b-4113-b0a4-6cdb2ced4ded",
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "9bb0b7b0-41be-450a-b5a6-b46f5ee91437"
          ]
        }
      ]
    }
  }
}]]></Config>
</DataType>