<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa99e1e0-0b42-4ccc-932c-e7415da07f5c" Alias="Baked Beans" Level="2">
  <Info>
    <Parent Key="2f3a22a4-811f-42f0-9f71-41cd0b59ebba">Ingredients</Parent>
    <Path>/Ingredients/BakedBeans</Path>
    <Trashed>false</Trashed>
    <ContentType>ingredient</ContentType>
    <CreateDate>2025-04-19T21:46:59</CreateDate>
    <NodeName Default="Baked Beans" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>