<?xml version="1.0" encoding="utf-8"?>
<Content Key="39a48077-c200-4613-bf51-c4f3b75abeae" Alias="Beans On Toast" Level="2">
  <Info>
    <Parent Key="aa7e754b-972f-4b1d-89ac-be764c389c4b">Recipes</Parent>
    <Path>/Recipes/BeansOnToast</Path>
    <Trashed>false</Trashed>
    <ContentType>recipe</ContentType>
    <CreateDate>2025-04-19T21:46:33</CreateDate>
    <NodeName Default="Beans On Toast" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cookingInstructions>
      <Value><![CDATA[Toast the bread
Bake the beans
Eat the food]]></Value>
    </cookingInstructions>
    <recipeIngredients>
      <Value><![CDATA[umb://document/96611c8b832544af9361068817a2e1af,umb://document/aa99e1e00b424ccc932ce7415da07f5c]]></Value>
    </recipeIngredients>
    <recipeUtensils>
      <Value><![CDATA[umb://document/1d717890dfd4448da5d164839f9541c4]]></Value>
    </recipeUtensils>
  </Properties>
</Content>