<?xml version="1.0" encoding="utf-8"?>
<Content Key="add297bb-1fc1-4cbe-92ce-1bf49e3ff164" Alias="Bolognese Sauce" Level="2">
  <Info>
    <Parent Key="2f3a22a4-811f-42f0-9f71-41cd0b59ebba">Ingredients</Parent>
    <Path>/Ingredients/BologneseSauce</Path>
    <Trashed>false</Trashed>
    <ContentType>ingredient</ContentType>
    <CreateDate>2025-04-15T22:29:43</CreateDate>
    <NodeName Default="Bolognese Sauce" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>