<?xml version="1.0" encoding="utf-8"?>
<Content Key="16a82cd1-532d-4394-9c21-1ab167c3605f" Alias="Butter" Level="2">
  <Info>
    <Parent Key="e3476ce8-fe6d-4b3b-936e-ba3b7c5c2653">Ingredients</Parent>
    <Path>/Ingredients/Butter</Path>
    <Trashed>false</Trashed>
    <ContentType>ingredient</ContentType>
    <CreateDate>2026-06-20T12:29:37</CreateDate>
    <NodeName Default="Butter" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>