<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d717890-dfd4-448d-a5d1-64839f9541c4" Alias="Butter Knife" Level="2">
  <Info>
    <Parent Key="aa7116ae-2ce9-44c9-bf3a-d31b4ace4402">Cooking Utensils</Parent>
    <Path>/CookingUtensils/ButterKnife</Path>
    <Trashed>false</Trashed>
    <ContentType>utensil</ContentType>
    <CreateDate>2025-04-25T22:44:51</CreateDate>
    <NodeName Default="Butter Knife" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>