<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa7116ae-2ce9-44c9-bf3a-d31b4ace4402" Alias="Cooking Utensils" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CookingUtensils</Path>
    <Trashed>false</Trashed>
    <ContentType>utensilListing</ContentType>
    <CreateDate>2025-04-25T22:32:12</CreateDate>
    <NodeName Default="Cooking Utensils" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>