<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f82971a-7b44-42c6-8f3d-8449a3f3080b" Alias="Frying Pan" Level="2">
  <Info>
    <Parent Key="7d74b775-0847-4ff9-a55b-912c35a3ed5b">Utensils</Parent>
    <Path>/Utensils/FryingPan</Path>
    <Trashed>false</Trashed>
    <ContentType>utensil</ContentType>
    <CreateDate>2026-06-20T12:29:21</CreateDate>
    <NodeName Default="Frying Pan" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>