<?xml version="1.0" encoding="utf-8"?>
<Content Key="cba03f4e-c8f3-4194-90ab-3f14d0c52a80" Alias="Green Beans" Level="2">
  <Info>
    <Parent Key="e3476ce8-fe6d-4b3b-936e-ba3b7c5c2653">Ingredients</Parent>
    <Path>/Ingredients/GreenBeans</Path>
    <Trashed>false</Trashed>
    <ContentType>ingredient</ContentType>
    <CreateDate>2026-06-20T12:27:41</CreateDate>
    <NodeName Default="Green Beans" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>