<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f3a22a4-811f-42f0-9f71-41cd0b59ebba" Alias="Ingredients" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ingredients</Path>
    <Trashed>false</Trashed>
    <ContentType>ingredientListing</ContentType>
    <CreateDate>2025-04-15T22:28:53</CreateDate>
    <NodeName Default="Ingredients" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>