<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3476ce8-fe6d-4b3b-936e-ba3b7c5c2653" Alias="Ingredients" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ingredients</Path>
    <Trashed>false</Trashed>
    <ContentType>ingredientListing</ContentType>
    <CreateDate>2026-06-20T12:27:21</CreateDate>
    <NodeName Default="Ingredients" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>