<?xml version="1.0" encoding="utf-8"?>
<Content Key="58a8a34f-55d2-4f0b-8d73-bad15ca4749e" Alias="Measuring Jug" Level="2">
  <Info>
    <Parent Key="aa7116ae-2ce9-44c9-bf3a-d31b4ace4402">Cooking Utensils</Parent>
    <Path>/CookingUtensils/MeasuringJug</Path>
    <Trashed>false</Trashed>
    <ContentType>utensil</ContentType>
    <CreateDate>2025-05-07T22:56:08</CreateDate>
    <NodeName Default="Measuring Jug" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>