<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a2e509d-779a-4679-b713-658715bb5bc5" Alias="Parmesan Cheese" Level="2">
  <Info>
    <Parent Key="2f3a22a4-811f-42f0-9f71-41cd0b59ebba">Ingredients</Parent>
    <Path>/Ingredients/ParmesanCheese</Path>
    <Trashed>false</Trashed>
    <ContentType>ingredient</ContentType>
    <CreateDate>2025-04-15T22:30:33</CreateDate>
    <NodeName Default="Parmesan Cheese" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>