<?xml version="1.0" encoding="utf-8"?>
<Content Key="32c7aa6c-5c6c-4eca-ab88-4719110ad6cd" Alias="Potato" Level="2">
  <Info>
    <Parent Key="e3476ce8-fe6d-4b3b-936e-ba3b7c5c2653">Ingredients</Parent>
    <Path>/Ingredients/Potato</Path>
    <Trashed>false</Trashed>
    <ContentType>ingredient</ContentType>
    <CreateDate>2026-06-20T12:27:59</CreateDate>
    <NodeName Default="Potato" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>