<?xml version="1.0" encoding="utf-8"?>
<Content Key="1fc9892c-648d-4523-a41b-b95798006886" Alias="Recipes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Recipes</Path>
    <Trashed>false</Trashed>
    <ContentType>recipeListing</ContentType>
    <CreateDate>2026-06-20T12:29:57</CreateDate>
    <NodeName Default="Recipes" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>