<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa7e754b-972f-4b1d-89ac-be764c389c4b" Alias="Recipes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Recipes</Path>
    <Trashed>false</Trashed>
    <ContentType>recipeListing</ContentType>
    <CreateDate>2025-04-15T22:28:30</CreateDate>
    <NodeName Default="Recipes" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>