<?xml version="1.0" encoding="utf-8"?>
<Content Key="d56ff12d-836b-409e-bb16-0b118ad00fd7" Alias="Sirloin Steak" Level="2">
  <Info>
    <Parent Key="e3476ce8-fe6d-4b3b-936e-ba3b7c5c2653">Ingredients</Parent>
    <Path>/Ingredients/SirloinSteak</Path>
    <Trashed>false</Trashed>
    <ContentType>ingredient</ContentType>
    <CreateDate>2026-06-20T12:27:32</CreateDate>
    <NodeName Default="Sirloin Steak" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>