<?xml version="1.0" encoding="utf-8"?>
<Content Key="65d45ae7-797b-4446-9d26-e75622f31ed9" Alias="Spaghetti Bolognese" Level="2">
  <Info>
    <Parent Key="aa7e754b-972f-4b1d-89ac-be764c389c4b">Recipes</Parent>
    <Path>/Recipes/SpaghettiBolognese</Path>
    <Trashed>false</Trashed>
    <ContentType>recipe</ContentType>
    <CreateDate>2025-04-15T22:29:19</CreateDate>
    <NodeName Default="Spaghetti Bolognese" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cookingInstructions>
      <Value><![CDATA[Cook the spaghetti
Cook the bolognese
Enjoy]]></Value>
    </cookingInstructions>
    <recipeIngredients>
      <Value><![CDATA[umb://document/2a1095d8ffd548d1b5545d3a19d26f10,umb://document/add297bb1fc14cbe92ce1bf49e3ff164,umb://document/3a2e509d779a4679b713658715bb5bc5]]></Value>
    </recipeIngredients>
    <recipeUtensils>
      <Value><![CDATA[umb://document/a4324b94d2f04aa9b2efb4582b920294,umb://document/58a8a34f55d24f0b8d73bad15ca4749e]]></Value>
    </recipeUtensils>
  </Properties>
</Content>