<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f04bd48-5f2c-4d10-84b5-a3696f41ca1d" Alias="Steak &amp; Potatoes" Level="2">
  <Info>
    <Parent Key="1fc9892c-648d-4523-a41b-b95798006886">Recipes</Parent>
    <Path>/Recipes/SteakPotatoes</Path>
    <Trashed>false</Trashed>
    <ContentType>recipe</ContentType>
    <CreateDate>2026-06-20T12:30:27</CreateDate>
    <NodeName Default="Steak &amp; Potatoes" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cookingInstructions>
      <Value><![CDATA[Wash the potatoes
Peel the potatoes
Cut the potatoes]]></Value>
    </cookingInstructions>
    <recipeIngredients>
      <Value><![CDATA[umb://document/d56ff12d836b409ebb160b118ad00fd7,umb://document/cba03f4ec8f3419490ab3f14d0c52a80,umb://document/32c7aa6c5c6c4ecaab884719110ad6cd,umb://document/bd01d76bf00e46118b659a360ad4d490,umb://document/16a82cd1532d43949c211ab167c3605f]]></Value>
    </recipeIngredients>
    <recipeUtensils>
      <Value><![CDATA[umb://document/8df3f5a36e0a40069fabba318ac7385f,umb://document/1a6c6d9233064eafaebb6e7fa37dbffe,umb://document/30c7f592e0ce425b95f1cc11f87b5bc7,umb://document/5f82971a7b4442c68f3d8449a3f3080b,umb://document/e99f202463f548b3a8ca6628840b3d67]]></Value>
    </recipeUtensils>
  </Properties>
</Content>