<?xml version="1.0" encoding="utf-8"?>
<Content Key="96611c8b-8325-44af-9361-068817a2e1af" Alias="Toast" Level="2">
  <Info>
    <Parent Key="2f3a22a4-811f-42f0-9f71-41cd0b59ebba">Ingredients</Parent>
    <Path>/Ingredients/Toast</Path>
    <Trashed>false</Trashed>
    <ContentType>ingredient</ContentType>
    <CreateDate>2025-04-19T21:46:51</CreateDate>
    <NodeName Default="Toast" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>