<?xml version="1.0" encoding="utf-8"?>
<Content Key="e99f2024-63f5-48b3-a8ca-6628840b3d67" Alias="Tongs" Level="2">
  <Info>
    <Parent Key="7d74b775-0847-4ff9-a55b-912c35a3ed5b">Utensils</Parent>
    <Path>/Utensils/Tongs</Path>
    <Trashed>false</Trashed>
    <ContentType>utensil</ContentType>
    <CreateDate>2026-06-20T12:29:46</CreateDate>
    <NodeName Default="Tongs" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>