<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d74b775-0847-4ff9-a55b-912c35a3ed5b" Alias="Utensils" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Utensils</Path>
    <Trashed>false</Trashed>
    <ContentType>utensilListing</ContentType>
    <CreateDate>2026-06-20T12:28:11</CreateDate>
    <NodeName Default="Utensils" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>